@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

.rubik-spray-paint-regular {
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: orange;

}

.container>.cont_in {
    max-width: 1300px;
    height: 1000px;
    margin: auto;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h_right {
    display: flex;
    gap: 36px;
    align-items: center;
    font-size: 20px;

}

button {
    padding: 10px 15px;
    background-color: black;
    color: aliceblue;
}

.button:hover {
    background-color: #fff;
    color: orange;
}

.main {
    width: 70%;
    margin: auto;
}

.n>h1 {
    margin-top: 100px;
    color: #fff;
    font-size: 72px;
    font-weight: 400;
    font-family: "Rubik Spray Paint", system-ui;

}

.main>.img {
    margin-top: -100px;
    margin-left: 100px;
    width: 694px;
    height: 694px;


}


/* ? ------1--------- */

/* ?------------2------ */
.back {
    background-color: black;
}

.container2 {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;



}

.main2>h1 {
    color: orange;
    font-size: 50px;
    font-weight: 400;
    font-family: "Rubik Spray Paint", system-ui;
    ;
    text-align: center;
}

.main2>p {
    color: #fff;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
}

.card {
    margin-top: 50px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}


/* ?------- */
.star {
    position: absolute;
    top: 0;
    left: 1px;
    background-color: rgb(231, 198, 11);

}


.card2 {
    position: relative;
    padding: 25px;
    background-color: orange;
    border: 1px solid #fff;
    color: aliceblue;

}

.card2>.carw * {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
}

.craw>h3 {
    font-size: 24px;
    font-weight: 700;
}

.bac {
    background-color: orange;
    padding-bottom: 150px;
}

.main3 {

    display: flex;
    background-color: orange;
    max-width: 1440px;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.right {
    width: 50%;
    padding: 50px;
}

.right>h2 {
    font-size: 56px;
    font-weight: 400;
    font-family: "Rubik Spray Paint", system-ui;
    ;
    margin-bottom: 31px;
}

.right>h4 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 30px;
}

.right>p {
    color: aliceblue;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 15px;

}

.cont3 {
    background-color: rgb(44, 9, 9);
}

.m3 {
    width: 900px;
    margin: auto;
    display: block;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;

}

.m3>h1 {
    width: 700px;
    color: orange;
    font-size: 56px;
    font-weight: 400;
    font-family: "Rubik Spray Paint", system-ui;
    ;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 70px;
}

.m3>p {
    width: 1200px;
    margin: auto;

    font-size: 21px;
    font-weight: 400;


}

.m4 {
    max-width: 1300px;
    margin: auto;
    text-align: center;
    padding: 20px;
}


.m4>.img1 {
    max-width: 1300px;
    margin: auto;
    display: flex;
}

.m4>.img2 {
    max-width: 1300px;
    margin: auto;
}

.m4>.img3 {
    max-width: 1400px;
    height: 600px;
    display: flex;
    margin: auto;
}

.cont4 {
    background-color: orange;
    text-align: center;
}

.cont41 {
    max-width: 1400px;
    margin: auto;
    display: flex;
    gap: 50px;


}

.cont4>h1 {
    text-align: center;
    font-size: 56px;
    font-weight: 400;
    font-family: "Rubik Spray Paint", system-ui;
    margin: auto;
    margin-bottom: 100px;
    padding-top: 70px;
}

.left {
    display: flex;
    width: 50%;
    align-items: center;
    text-align: left;
    padding-bottom: 100px;
}

.left>img {
    height: 297px;
}

.left>div {

    background-color: #000;
    padding: 25px;
}

.left>div>p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.left>div>h3 {
    color: white;
}


footer{
    background-color: #000;
    color: #fff;
    padding: 50px 20px;
    
}
.foot{
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    
}

.left_foot>h1{
    color: orange;
    font-size: 45px;
    font-weight: 400;
    font-family: "Rubik Spray Paint", system-ui;
    
   

}
.left_foot>p{
    font-size: 18px;
    margin-top: 20px;
}

.center{
    width: 35%;
    

}
.foot h3{
    color: orange;
}
.ci{
    width: 100%;
    display: flex;
    padding: 15px;
    background-color: #fff;
    margin-top: 20px;
}

.ci> button{
    background-color: orange;
    border: none;
    font-size: 20px;
}
.ci>input{
    padding: 15px 10px;
    border: none;
    font-size: 19px;
}

.icons{
    font-size: 40px;
    padding: 25px;
    padding-left: 0;

}

